#Database Configuration
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://<url>:3306/patfacts
db.username=patfacts
db.password=<password>
 
#Hibernate Configuration
hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
hibernate.hbm2ddl.auto=validate
hibernate.ejb.naming_strategy=org.hibernate.cfg.ImprovedNamingStrategy
hibernate.show_sql=false
hibernate.format_sql=true

#Other Properties
users.user=password123
users.admin=password456